@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #0f0e0e;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
    background-color: aliceblue;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.container {
    display: flex;
    flex-direction: row;
    width: 590px;
    height: 590px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    background-color: white;
    border: 15px dotted wheat;
    padding: 10px;

}



.messages {
    display: flex;
}

.plant {
    font-size: large;
    gap: 10px;
}

